.linkChangeProfile {
    color: #005bff;
}

.toolBarItem {
    color: #1a1e21;

    &:hover {
        text-decoration: underline;
    }

    &.active {
        background: #e5efff;
        border-radius: 3px;
    }
}

.headerContent {
    max-width: 450px;
}

.predictPrices {
    font-weight: bold;
}

.wrapperNotices {
    &.notView {
        cursor: pointer;
        font-weight: 600;
    }
    .date {
        font-weight: initial;
    }
}
