.articlesTitle {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}

.popularWrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}
@media screen and (max-width: 440px) {
    .popularWrapper {
        flex-direction: column;
    }
}
