.articleCreatedWrapper {
    background: #fff;
    text-align: center;
    padding: 15px 0;
    display: block;
    font: 700 40px/1 "Oswald", sans-serif;
    color: #8f49f9 !important;

    span {
        display: block;
        font-size: 18px;
        font-weight: 400;
        color: black;
        text-transform: uppercase;
    }
}

.articleTitle {
    font: 600 62px/75px "Oswald", sans-serif;
    color: #282331;
    @media (max-width: 600px) {
        font-size: 44px;
        line-height: normal;
    }
}

.wrapperArticlePreview {
    margin: 24px 0;
    width: 100%;

    .preview {
        width: inherit;
    }
}

.authorWrapper {
    background-color: #f5eeff;
    box-shadow: 0px 0px 20px 0px rgb(192 192 192 / 35%);
    padding: 30px 40px;
    @media(max-width: 600px) {
        justify-content: center;
        align-items: center;
        flex-direction: column !important;
    }

    .authorArticleInfo {
        @media(max-width: 600px) {
            padding: 0;
            margin-top: 20px;
        }
        padding-left: 45px;

        .name {
            font: 600 22px/1 "Oswald", sans-serif;
            color: #282331;
        }
    }
}

.emotionIcon {
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }

    &.exist {
        cursor: default;
    }
}
