


.wrapper-label-item {
    color: #350693;
    transition: all 300ms linear 0s;

    .article-label-text {
        font: 400 15px/30px "Oswald", sans-serif;
        text-transform: uppercase;
        padding-left: 10px;
    }

    &:hover {
        opacity: .8;
    }
}

