
.wrapper-article-preview {
    margin: 24px 0;

    .preview {
        width: 100%;
    }
}

.wrapper-label-item {
    color: #350693;
    transition: all 300ms linear 0s;

    .article-label-text {
        font: 400 15px/30px "Oswald", sans-serif;
        text-transform: uppercase;
        padding-left: 10px;
    }

    &:hover {
        opacity: .8;
    }
}


.author-wrapper {
    background-color: #f5eeff;
    box-shadow: 0px 0px 20px 0px rgb(192 192 192 / 35%);
    padding: 30px 40px;
    @media(max-width: 600px) {
        justify-content: center;
        align-items: center;
        flex-direction: column !important;
    }

    .author-article-info {
        @media(max-width: 600px) {
            padding: 0;
            margin-top: 20px;
        }
        padding-left: 45px;

        .name {
            font: 600 22px/1 "Oswald", sans-serif;
            color: #282331;
        }
    }
}

