
.notice-header {
    display: flex;
    justify-content: space-between;

    &.not-view {
        font-weight: 600;
    }
}

.notice-item {
    padding: 4px 10px 0;

    &:hover {
        background-color: #f3f3f3;
    }
}

.link-notice {
    cursor: pointer;
}

.notice-item-description {
    margin: 10px 0 5px;
    font-family: Roboto, sans-serif;
    font-size: 0.75rem;
    color: rgb(158, 158, 158);
}

.count-notices {
    margin-left: 15px;
    color: white !important;
    background-color: #008cff;
    border-radius: 16px;
    width: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
}
