.portal-nav-bar {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    z-index: 1100;
    top: 0;
    background-color: white;
    transition: none 0s ease 0s;

    .nav-bar-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 48px;
        padding: 16px;

        .icon-wrapper {
            border-radius: 8px;
            background-color: #e3f2fd;
            padding: 5px;
            color: #1a5413;
            transition: all 0.2s ease-in-out 0s;

            &:hover {
                background-color: rgba(144, 202, 249, 0.85);
                color: white;
            }
        }
    }

    //.nav-bar-portal-user {
    //    display: flex;
    //    justify-content: center;
    //    align-items: center;
    //
    //    .nav-bar-user-avatar {
    //        padding: 5px;
    //        color: #e3f2fd;
    //        border-radius: 12px;
    //        background: #e3f2fd;
    //        transition: all 0.2s ease-in-out 0s;
    //        cursor: pointer;
    //
    //        .MuiAvatar-root {
    //            transition: inherit;
    //        }
    //
    //        &:hover {
    //            background-color: rgba(144, 202, 249, 0.85);
    //
    //            .MuiAvatar-root {
    //                transform: scale(0.85);
    //            }
    //        }
    //    }
    //}
}

.nav-bar-portal-logo {
    img {
        height: 32px;
    }
}

.empty-block {
    flex-grow: 1;
}


.notice-window {
    position: absolute;
    inset: 0 0 auto auto;
    transform: translate(-92px, 79px);

    .header-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 5px;
    }

    .notice-header {
        display: flex;
        justify-content: space-between;

        &.not-view {
            font-weight: 600;
        }
    }

    .notice-item {
        padding: 4px 10px 0;
        cursor: pointer;

        &:hover {
            background-color: #d0fbc0;
        }
    }

    .notice-item-description {
        margin: 10px 0 5px;
        width: 300px;
        font-family: Roboto, sans-serif;
        font-size: 0.75rem;
        color: rgb(158, 158, 158);
    }

    .count-notices {
        margin-left: 15px;
        color: #1a5413;
        font-weight: 600;
        background-color: #98fd72;
        border-radius: 16px;
        width: 24px;
        text-align: center;
    }
}
