.page-wrapper{
    background-color: rgb(227, 242, 253);
}

.list-idea-wrapper {
    background: rgba(144, 202, 249, 0.85);
    padding: 10px;
    border-radius: 10px;

    .load-idea-item{
        margin-bottom: 10px;
        span {
            border-radius: 10px
        }
    }

    .item-idea-wrapper {
        background-color: white;
        display: flex;
        padding: 5px 10px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        border-radius: 8px;
    }
    .base-info{

    }
    .potential-profit{
        font-size: 12px;
        text-align: right;
    }
}
.link-title-news {
    width: 150px;
    margin-top: 10px;
    text-decoration: none;

    .news-title {
        line-height: 16px;
        word-wrap: break-word;
        text-decoration: none;
        color: #1256a0;
        outline: none;
        font-size: 14px;
        font-weight: 700;
        text-overflow: ellipsis;
        text-align: left;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
.shadow-wrapper {
    box-shadow: rgba(145, 158, 171, 0.24) 0 0 2px 0, rgba(145, 158, 171, 0.24) 0 16px 32px -4px;
}
