
.comments-area{
    max-height: 400px;
    overflow-y: auto;
    margin: 8px 0;
    &::-webkit-scrollbar {
        width: 8px;
        background-color: #dfe6e9;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(144, 202, 249, 0.85);
        border-radius: 10px;
    }
}


