.list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .blockMenu {
        padding: 10px;

        &.active {
            background: #e5efff;
            border-radius: 8px;
            font-weight: 500;
        }

    }
}
