.containerModal {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.attention {
    font-weight: 600;
    font-size: 14px;
}

.dialogContainer {
    width: 800px;
    //max-width: 800px;
}

.tariffWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .label {
        max-width: 250px;
        font-size: 12px;
        &.full {
            max-width: max-content;
        }
    }

    .infoWrapper {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .amountBlock {
        display: flex;
        font-size: 12px;
        align-items: center;
        gap: 3px;
    }
}

.infoCommission {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;

    span {
        white-space: nowrap;
    }
}
